@import './markdown.css';
@import '../../node_modules/bulma/css/bulma.css';



html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* #region navbar */

.router-link-active {
  background-color: #ffe08a !important;
  border-color: transparent !important;
}

/* #endregion */

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay-container:hover > .overlay {
  opacity: 1;
}

.column {
  width: 100% !important;
  height: 100% !important;
}